<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Arca.css" />
  </head>

  <body class="flex-column">
    <main class="arca main">
      <section class="dogCareSection">
        <!-- Main section for dog care services and information -->
        <div class="contentBoxDiv">
          <!-- Container for the main content area including description and image -->
          <div class="flexRowLayoutDiv">
            <!-- Layout for aligning the content in a flexible row format -->
            <div class="flexColLayoutDiv">
              <!-- Layout for aligning contents in a flexible column format -->

              <!-- Container for title and description of dog care services -->
              <h2 class="dogCareTitleH2">
                <!-- Title describing the dog care services offered -->
                Como Noé con su arca, cuidamos a tu perro con el alma
              </h2>
              <p class="dogCareDescriptionP">
                <!-- Description providing details about dog care services -->
                En El Arca, nos dedicamos exclusivamente al bienestar y cuidado
                de los perros. Nuestro equipo de veterinarios apasionados y
                experimentados se compromete a ofrecer servicios de alta calidad
                en un ambiente cálido y acogedor. Desde consultas generales y
                vacunaciones hasta cirugías y cuidados dentales, nos aseguramos
                de que cada visita sea una experiencia positiva tanto para las
                mascotas como para sus dueños. Ven y descubre cómo en El Arca,
                tratamos a tu perro con el amor y el cuidado que se merece.
              </p>

              <a href="" class="requestAppointmentBtn">
                <!-- Button for users to request an appointment -->
                Solicitar una cita
              </a>
            </div>
            <img
              class="dogImageFigure"
              src="../images/Perro1.png"
              alt="alt text"
            />
            <!-- Figure element for displaying the image of a dog. -->
          </div>
        </div>
        <div class="brandingSectionDiv">
          <!-- Section containing branding elements such as logo and name -->
          <div class="brandingGroupDiv">
            <!-- Group for branding related items. -->

            <!-- Box containing branding information. -->
            <div class="flexRowBrandingDiv">
              <!-- Flex row layout for branding image and name. -->
              <img
                class="brandImageImg"
                src="../images/logo1.png"
                alt="alt text"
              />
              <!-- Image representing the brand. -->
              <h1 class="brandNameH1">
                <!-- Brand name of the service -->
                El Arca
              </h1>
            </div>
          </div>
          <div class="navigationGroupDiv">
            <!-- Navigation section containing links to services and information -->

            <!-- Container for navigation items -->
            <div class="flexRowNavigationDiv">
              <!-- Flexbox layout for aligning navigation links in a row -->

              <a href="" class="serviceLabelP">
                <!-- Label for services navigation item -->
                Servicios
              </a>

              <!-- Navigation item for about us information -->
              <a href="" class="aboutUsLabelP">
                <!-- Label for about us navigation item -->
                Sobre nosotros
              </a>

              <a href="" class="locationLabelP">
                <!-- Label for location navigation item -->
                Ubicación
              </a>

              <a href="" class="contactLabelP">
                <!-- Label for contact navigation item -->
                Contacto
              </a>
            </div>
          </div>

          <!-- Group for registration button -->
          <button class="registerBtn">
            <!-- Button for user registration -->
            Regístrate
          </button>

          <!-- Group for login button -->
          <button class="loginBtn">
            <!-- Button for user login -->
            Iniciar sesión
          </button>
        </div>
      </section>

      <section class="section2">
        <img
          class="image9"
          src="../images/imagenVideoPerroGato.png"
          alt="alt text"
        />
      </section>

      <section class="section3">
        <div class="flex_row">
          <div class="flex_col">
            <h1 class="hero_title1">
              Salud optima para tu mascota: Servicios veterinarios a tu alcance
            </h1>
            <button class="btn">
              <!-- TODO -->
              Explorar más
            </button>
          </div>
          <div class="grid">
            <div class="item">
              <div class="flex_col1">
                <div class="placeholder5"></div>

                <h3 class="subtitle">Examen Físico</h3>
                <p class="paragraph">
                  Evaluaciones completas para mantener a tu perro en óptima
                  salud
                </p>
                <a href="">Ver más</a>
              </div>
            </div>
            <div class="item">
              <div class="flex_col3">
                <img
                  class="image5"
                  src="../images/imgIcono2Grid.svg"
                  alt="alt text"
                />
                <h3 class="subtitle1">Cuidados Faciales</h3>
                <p class="paragraph">
                  Atención especializada para la higiene y salud facial de tu
                  mascota
                </p>
                <a href="">Ver más</a>
              </div>
            </div>
            <div class="item">
              <div class="flex_col3">
                <img
                  class="image5"
                  src="../images/imgIcono3Grid.svg"
                  alt="alt text"
                />
                <h3 class="subtitle1">Vacunación</h3>
                <p class="paragraph">
                  Protección esencial contra enfermedades comunes y peligrosas
                </p>
                <a href="">Ver más</a>
              </div>
            </div>
            <div class="item">
              <div class="flex_col3">
                <img
                  class="image5"
                  src="../images/imgIcono4Grid.svg"
                  alt="alt text"
                />
                <h3 class="subtitle1">Nutrición</h3>
                <p class="paragraph">
                  Asesoramiento experto para una dieta equilibrada y saludable
                </p>
                <a href="">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section4">
        <div class="flex_row1">
          <div class="flex_row2">
            <div class="flex_col4">
              <img
                class="image3"
                src="../images/imgFooterDecor1.svg"
                alt="alt text"
              />
              <div class="flex_row3">
                <img
                  class="image31"
                  src="../images/imgFooterDecor2.svg"
                  alt="alt text"
                />
                <div class="rect7"></div>
              </div>
            </div>
            <div class="flex_col5">
              <div class="flex_col6">
                <h1 class="hero_title">Sé parte de la familia</h1>
                <p class="highlight2">
                  ¡El Arca siempre tiene espacio para todos!
                </p>
              </div>
              <button class="btn1">
                <!-- TODO -->
                Horarios de atención
              </button>
            </div>
          </div>
          <div class="flex_row4">
            <img
              class="image32"
              src="../images/imgFooterDecor3.svg"
              alt="alt text"
            />
            <img
              class="image13"
              src="../images/imgFooterDecor4.png"
              alt="alt text"
            />
          </div>
        </div>
      </section>

      <section class="section5">
        <div class="flex_col7">
          <div class="flex_row5">
            <img class="image4" src="../images/logo1.png" alt="alt text" />
            <h1 class="title1">El Arca</h1>
          </div>

          <div class="flex_row6">
            <div class="flex_col8">
              <p class="highlight5">Cra. 7 #40 - 62, Bogotá</p>
              <p class="highlight51">info@javeriana.edu.com</p>
              <div class="paragraph3">© 2022 . • Privacy • Terms • Sitemap</div>
            </div>
            <div class="flex_col9">
              <div class="content_box1">
                <div class="flex_row7">
                  <div class="highlight6">
                    <a href="">Servicios</a>
                  </div>
                  <div class="highlight62">
                    <a href="">Sobre nosotros</a>
                  </div>
                  <div class="highlight64">
                    <a href="">Ubicación</a>
                  </div>
                  <div class="highlight6">
                    <a href="">Contacto</a>
                  </div>
                </div>
              </div>
              <div class="flex_row8">
                <img
                  class="image33"
                  src="../images/imgIconTwitter.svg"
                  alt="alt text"
                />
                <img
                  class="image33"
                  src="../images/imgIconFacebook.svg"
                  alt="alt text"
                />
                <img
                  class="image33"
                  src="../images/imgIconLinkedn.svg"
                  alt="alt text"
                />
                <img
                  class="image33"
                  src="../images/imgIconYoutube.svg"
                  alt="alt text"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
