<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Arca - Home</title>
    <link rel="stylesheet" href="/css/landingPage.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="navigationBarLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="navigationBarMenuOptions">
        <a href="/home/servicesPage"><h3>Servicios</h3></a>
        <a href="/home/aboutUsPage"><h3>Sobre Nosotros</h3></a>
        <a href="/home/locationPage"><h3>Ubicación</h3></a>
        <a href="/home/contactPage"><h3>Contacto</h3></a>
      </div>
      <div class="navigationBarButtons">
        <button class="btnYellow"><h3>Regístrate</h3></button>
        <button class="btnBlue"><h3>Iniciar Sesión</h3></button>
      </div>
    </header>

    <main>
      <section class="section_horizontal">
        <div class="text">
          <h2 class="subtitle">
            Como Noé con su arca, cuidamos a tu perro con el alma
          </h2>
          <p class="paragraph">
            En El Arca, nos dedicamos exclusivamente al bienestar de los perros
            con un equipo de veterinarios apasionados y experimentados.
            Ofrecemos servicios de alta calidad en un ambiente cálido y
            acogedor, incluyendo consultas, vacunaciones, cirugías y cuidados
            dentales. Nos aseguramos de que cada visita sea una experiencia
            positiva para las mascotas y sus dueños, tratando a tu perro con el
            amor y el cuidado que se merece.
          </p>
          <button class="btnYellow"><h3>Solicitar una cita</h3></button>
        </div>

        <img
          class="dogImageFigure"
          src="/images/Perro1.png"
          alt="Imagen perro introduccion"
        />
      </section>

      <section class="video">
        <iframe
          width="660"
          height="315"
          src="https://www.youtube.com/embed/KxJO8iYcQ1s?si=IqYDRJI7W9Eq1r_a"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </section>

      <section class="services">
        <div class="text">
          <h1 id="title">
            Salud optima para tu mascota: Servicios veterinarios a tu alcance
          </h1>
          <button class="btnPurple">Explorar más</button>
        </div>
        <div class="Grid">
          <div class="GridItem">
            <h3 class="subtitle">Examen Físico</h3>
            <p class="paragraph">
              Evaluaciones completas para mantener a tu perro en óptima salud
            </p>
            <a href="">Ver más</a>
          </div>

          <div class="GridItem">
            <h3 class="subtitle">Cuidados Faciales</h3>
            <p class="paragraph">
              Atención especializada para la higiene y salud facial de tu
              mascota
            </p>
            <a href="">Ver más</a>
          </div>

          <div class="GridItem">
            <h3 class="subtitle">Vacunación</h3>
            <p class="paragraph">
              Protección esencial contra enfermedades comunes y peligrosas
            </p>
            <a href="">Ver más</a>
          </div>

          <div class="GridItem">
            <h3 class="subtitle">Nutrición</h3>
            <p class="paragraph">
              Asesoramiento experto para una dieta equilibrada y saludable
            </p>
            <a href="">Ver más</a>
          </div>
        </div>
      </section>

      <section class="Schedule">
        <div class="figures1">
          <img id="ballRed" src="/images/imgFooterDecor2.svg" alt="ballRed" />
          <img
            id="ballBlue1"
            src="/images/imgFooterDecor3.svg"
            alt="ballBlue"
          />
          <img
            id="ballYellow"
            src="/images/imgFooterDecor1.svg"
            alt="ballYellow"
          />
        </div>

        <div class="text2">
          <h1>Sé parte de la familia</h1>
          <p>¡El Arca siempre tiene espacio para todos!</p>
          <button class="btnBlue">Horarios de atención</button>
        </div>

        <div class="figures2">
          <img id="ballBlu2" src="/images/imgFooterDecor3.svg" alt="ballBlue" />
          <img
            id="perroHorarios"
            src="/images/imgFooterDecor4.png"
            alt="perroHorarios"
          />
        </div>
      </section>
    </main>

    <footer>
      <div class="copyright">
        <p>Cra. 7 #40 - 62, Bogotá</p>
        <p>info@javeriana.edu.com</p>
        <p>© 2024 El Arca</p>
      </div>
      <div class="FooterLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="FooterOptions">
        <ul class="FooterOptionsList">
          <a href="/home/servicesPage"> <li>Servicios</li></a>
          <a href="/home/aboutUsPage"> <li>Sobre Nosotros</li></a>
          <a href="/home/locationPage"> <li>Ubicación</li></a>
          <a href="/home/contactPage"> <li>Contacto</li></a>
        </ul>

        <div id="redes">
          <!-- Enlace a la página de Facebook -->
          <a
            href="https://www.facebook.com/unijaveriana/?locale=es_LA"
            target="_blank"
          >
            <img
              src="/images/imgIconFacebook.svg"
              height="25px"
              alt="facebook"
            />
          </a>
          <!-- Enlace a la página de Instagram -->
          <a
            href="https://co.linkedin.com/school/pontificia-universidad-javeriana/"
            target="_blank"
          >
            <img
              src="/images/imgIconLinkedn.svg"
              height="25px"
              alt="linkedin"
            />
          </a>
          <!-- Enlace a la cuenta de X (anteriormente Twitter)-->
          <a
            href="https://x.com/UniJaveriana?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            target="_blank"
          >
            <img src="/images/imgIconTwitter.svg" height="25px" alt="x" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
