<!DOCTYPE html>
<html lang="es"  xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Arca - Perfil Cliente</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/perfilVeterinario.css">
</head>
<body>
    <header>
        <div class="navigationBarLogo">
          <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
          <a href=""><h1>El Arca</h1></a>
        </div>
        <div class="navigationBarMenuOptions">
          <a href="/dueño/perfilCliente"><h3>Perfil</h3></a>

        </div>
        <div class="navigationBarButtons">
          <a href="/home/landingPage">
            <button class="btnYellow"><h3>Cerrar Sesión</h3></button>
          </a>
        </div>
      </header>

      <main>
        <div class="profile-section">
            <div class="profile-details">
                <img src="https://www.himalayacentroamericana.com/sites/default/files/consultaveterinaria.jpg" alt="Foto de Perfil">
                <div class="name">
                    <span th:text="${cliente.nombre}"> </span>
                    <img src="../images/logo1.png" alt="Editar" class="edit-icon">
                </div>
                <div class="email" th:text="${cliente.correo}"></div>
    
                <div class="info-card">
                    <p><span class="label">Cédula:</span> <span class="value" th:text="${cliente.cedula}"></span></p>
                    <p><span class="label">Celular:</span> <span class="value" th:text="${cliente.celular}"></span></p>
                </div>
            </div>
        </div>
    </main>
    

    
</body>
</html>
