table img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

th,
td {
  text-align: center;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  vertical-align: middle;
}

.table head {
  background-color: aqua;
}

.table td {
  text-align: center; /* Center text horizontally within cells */
  vertical-align: middle; /* Center text vertically within cells */
  height: 100px; /* Example height for cells */
}
.tablaSection {
  margin: 0 auto;
  margin-top: 120px;
  width: 80%;
}

table {
  font-size: 22px;
}

.tablaSection a {
  font-size: 22px !important;
  margin: 5px;
}

.editButtonContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px; /* Example height, adjust as needed */
  width: 100%; /* Full width */
}
