<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Arca - Contacto</title>

    <link rel="stylesheet" href="/css/contactPage.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <header>
      <div class="navigationBarLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="navigationBarMenuOptions">
        <a href="/home/servicesPage"><h3>Servicios</h3></a>
        <a href="/home/aboutUsPage"><h3>Sobre Nosotros</h3></a>
        <a href="/home/locationPage"><h3>Ubicación</h3></a>
        <a href="/home/contactPage"><h3>Contacto</h3></a>
      </div>
      <div class="navigationBarButtons">
        <!-- <button class="btnYellow"><h3>Regístrate</h3></button> -->
        
        <a href="/home/loginCliente">
          <button class="btnYellow"><h3>Iniciar Sesión</h3></button>
        </a>
      </div>
    </header>
    <section class="bigImagesCardsSection">
      <div class="solicitaCitaCard">
        <h3 class="cardImageTitle">Solicita Una cita ></h3>
        <img src="/images/imgPerroContactSolicitaUnaCita.png" alt="" />
      </div>
      <div class="threeCardsEven">
        <div id="cardConsultaEnLinea">
          <h3 class="cardImageTitleThree">Consulta médica en linea ></h3>
          <img src="/images/imgPerroConsultLinea.png" alt="" />
        </div>
        <div id="cardConsultasTratamientos">
          <h3 class="cardImageTitleThree">
            Información sobre consultas y tratamientos >
          </h3>
          <img
            id="imgContactInfoTratamientos"
            src="/images/imgContactInfoTratamientos.png"
            alt=""
          />
        </div>
        <div id="cardEmergencias">
          <h3 class="cardImageTitleThree">Llámanos para emergencias 24/7 ></h3>
          <img src="/images/imgPerro24.png" alt="" />
        </div>
      </div>
    </section>
    <section class="gridCardsSection">
      <div class="gridCards">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">¿Qué hacer en caso de una emergencia?</h3>
            <p class="card-text">
              Sigue estos pasos para saber cómo actuar rápidamente y proteger a
              tu mascota en situaciones críticas. Estamos contigo en cada
              momento.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3  id="seccion-horario" class="card-title">Horarios de atención</h3>
            <p class="card-text">
              Consulta nuestros horarios de atención para planificar la visita
              de tu mascota. Estamos disponibles para ti y tu compañero peludo
              durante toda la semana.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              Consulta sobre nuestros servicios especializados
            </h3>
            <p class="card-text">
              Descubre todos los detalles sobre nuestros servicios
              especializados y cómo podemos ayudar a tu mascota con atención
              personalizada y de alta calidad.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              Preguntas frecuentes sobre el cuidado de mascotas
            </h3>
            <p class="card-text">
              Encuentra en la tarjeta respuestas a las preguntas más comunes
              sobre el cuidado de tu mascota y mantén a tu compañero feliz y
              saludable.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="copyright">
        <p>Cra. 7 #40 - 62, Bogotá</p>
        <p>info@javeriana.edu.com</p>
        <p>© 2024 El Arca</p>
      </div>
      <div class="FooterLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="FooterOptions">
        <ul class="FooterOptionsList">
          <a href="/home/servicesPage"> <li>Servicios</li></a>
          <a href="/home/aboutUsPage"> <li>Sobre Nosotros</li></a>
          <a href="/home/locationPage"> <li>Ubicación</li></a>
          <a href="/home/contactPage"> <li>Contacto</li></a>
        </ul>

        <div id="redes">
          <!-- Enlace a la página de Facebook -->
          <a
            href="https://www.facebook.com/unijaveriana/?locale=es_LA"
            target="_blank"
          >
            <img
              src="/images/IconoFacebook.svg"
              height="25px"
              alt="facebook"
            />
          </a>
          <!-- Enlace a la página de Instagram -->
          <a
            href="https://co.linkedin.com/school/pontificia-universidad-javeriana/"
            target="_blank"
          >
            <img
              src="/images/IconoLinkedn.svg"
              height="25px"
              alt="linkedin"
            />
          </a>
          <!-- Enlace a la cuenta de X (anteriormente Twitter)-->
          <a
            href="https://x.com/UniJaveriana?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            target="_blank"
          >
            <img src="/images/IconoTwitter.svg" height="25px" alt="x" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
