<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Arca - Ubicación</title>
    <link rel="stylesheet" href="/css/locationPage.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />

    
  </head>
  <body>
    <header>
      <div class="navigationBarLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="navigationBarMenuOptions">
        <a href="/home/servicesPage"><h3>Servicios</h3></a>
        <a href="/home/aboutUsPage"><h3>Sobre Nosotros</h3></a>
        <a href="/home/locationPage"><h3>Ubicación</h3></a>
        <a href="/home/contactPage"><h3>Contacto</h3></a>
      </div>
      <div class="navigationBarButtons">
        <!-- <button class="btnYellow"><h3>Regístrate</h3></button> -->
        
        <a href="/home/loginCliente">
          <button class="btnYellow"><h3>Iniciar Sesión</h3></button>
        </a>
      </div>
    </header>

    <main>
      <section class="informacion">
       
        <div class="text">
          <h2>Encuentra Nuestra  Veterinaria</h2>
          <p>
            En El Arca, nos dedicamos a cuidar de tus mascotas con el amor y la profesionalidad que se merecen. Sabemos lo importante que es para ti contar con una clínica de confianza cerca de tu hogar, por eso, te invitamos a visitarnos en nuestra ubicación. Aquí encontrarás un equipo comprometido, instalaciones modernas y un ambiente acogedor, todo pensado para ofrecerle a tu mascota la mejor atención posible. A continuación, te mostramos cómo llegar a nuestra clínica y los servicios que ofrecemos en nuestra ubicación.
          </p>
          
        </div>
        <img
          class="dogImageFigure"
          src="../images/perroLocationPage.jpg"
          alt="Imagen perro location"
        />
      </section>


      <section class="mapa">

        <h2>Ubicación de nuestro negocio</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.807015171247!2d-74.06723942614529!3d4.628492842281649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a8193f1c9f%3A0xf93431640f134c07!2sPontificia%20Universidad%20Javeriana!5e0!3m2!1ses!2sco!4v1725478926135!5m2!1ses!2sco" 
        width="1050" height="550" style="border:0;" allowfullscreen="" loading="lazy" 
        class="frame-mapa"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
        
        
      </section>

      
    </main>

    <footer>
      <div class="copyright">
        <p>Cra. 7 #40 - 62, Bogotá</p>
        <p>info@javeriana.edu.com</p>
        <p>© 2024 El Arca</p>
      </div>
      <div class="FooterLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href="/home/landingPage"> <h1>El Arca</h1></a>
      </div>
      <div class="FooterOptions">
        <ul class="FooterOptionsList">
          <a href="/home/servicesPage"> <li>Servicios</li></a>
          <a href="/home/aboutUsPage"> <li>Sobre Nosotros</li></a>
          <a href="/home/locationPage"> <li>Ubicación</li></a>
          <a href="/home/contactPage"> <li>Contacto</li></a>
        </ul>

        <div id="redes">
          <!-- Enlace a la página de Facebook -->
          <a
            href="https://www.facebook.com/unijaveriana/?locale=es_LA"
            target="_blank"
          >
            <img
              src="/images/IconoFacebook.svg"
              height="25px"
              alt="facebook"
            />
          </a>
          <!-- Enlace a la página de Instagram -->
          <a
            href="https://co.linkedin.com/school/pontificia-universidad-javeriana/"
            target="_blank"
          >
            <img
              src="/images/IconoLinkedn.svg"
              height="25px"
              alt="linkedin"
            />
          </a>
          <!-- Enlace a la cuenta de X (anteriormente Twitter)-->
          <a
            href="https://x.com/UniJaveriana?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            target="_blank"
          >
            <img src="/images/IconoTwitter.svg" height="25px" alt="x" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
