<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Arca - Iniciar Sesión</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/loginVeterinario.css">
</head>
<body>
    <header>
        <div class="navigationBarLogo">
          <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
          <a href="../html/landingPage.html"> <h1>El Arca</h1></a>
        </div>
        <div class="navigationBarMenuOptions">
          <a href="../html/servicesPage.html"><h3>Servicios</h3></a>
          <a href="../html/aboutUsPage.html"><h3>Sobre Nosotros</h3></a>
          <a href="../html/locationPage.html"><h3>Ubicación</h3></a>
          <a href="../html/contactPage.html"><h3>Contacto</h3></a>
        </div>
        <div class="navigationBarButtons">
          <a href="../html/perfilVeterinario.html">
          <button class="btnBlue"><h3>Iniciar Sesión</h3></button>
        </a>
        </div>
      </header>
  
    <main>
        <section class="login-section">
            <h2>Iniciar Sesión</h2>
            <form action="../html/perfilVeterinario.html" method="post">
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" name="cedula" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit" class="btnBlue">Iniciar Sesión</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="copyright">
          <p>Cra. 7 #40 - 62, Bogotá</p>
          <p>info@javeriana.edu.com</p>
          <p>© 2024 El Arca</p>
        </div>
        <div class="FooterLogo">
          <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
          <a href="../html/landingPage.html"> <h1>El Arca</h1></a>
        </div>
        <div class="FooterOptions">
          <ul class="FooterOptionsList">
            <a href="../html/servicesPage.html"> <li>Servicios</li></a>
            <a href="../html/aboutUsPage.html"> <li>Sobre Nosotros</li></a>
            <a href="../html/locationPage.html"> <li>Ubicación</li></a>
            <a href="../html/contactPage.html"> <li>Contacto</li></a>
          </ul>
  
          <div id="redes">
            <!-- Enlace a la página de Facebook -->
            <a
              href="https://www.facebook.com/unijaveriana/?locale=es_LA"
              target="_blank"
            >
              <img
                src="..\images\imgIconFacebook.svg"
                height="25px"
                alt="facebook"
              />
            </a>
            <!-- Enlace a la página de Instagram -->
            <a
              href="https://co.linkedin.com/school/pontificia-universidad-javeriana/"
              target="_blank"
            >
              <img
                src="..\images\imgIconLinkedn.svg"
                height="25px"
                alt="linkedin"
              />
            </a>
            <!-- Enlace a la cuenta de X (anteriormente Twitter)-->
            <a
              href="https://x.com/UniJaveriana?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
              target="_blank"
            >
              <img src="..\images\imgIconTwitter.svg" height="25px" alt="x" />
            </a>
          </div>
        </div>
      </footer>
</body>
</html>
