<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Arca - Perfil Veterinario</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/perfilVeterinario.css">
</head>
<body>
    <header>
        <div class="navigationBarLogo">
          <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
          <a href=""><h1>El Arca</h1></a>
        </div>
        <div class="navigationBarMenuOptions">
          <a href="/clientes/perfil"><h3>Perfil</h3></a>
          <a href="/clientes/all"><h3>Clientes</h3></a>
          <a href="/mascota/all"><h3>Mascotas</h3></a>
        </div>
        <div class="navigationBarButtons">
          <a href="/home/landingPage">
            <button class="btnYellow"><h3>Cerrar Sesión</h3></button>
          </a>
        </div>
      </header>

    <main>
        <div class="profile-section">
            <div class="profile-details">
                <img src="https://www.himalayacentroamericana.com/sites/default/files/consultaveterinaria.jpg" alt="Foto de Perfil">
                <div class="name">Elizabeth Bailey <img src="../images/logo1.png" alt="Editar" class="edit-icon"></div>
                <div class="email">ElizabethBailey@gmail.com</div>

                <div class="info-card">
                    <p><span class="label">Estado:</span> <span class="value">Activo</span></p>
                    <p><span class="label">Género:</span> <span class="value">Femenino</span></p>
                    <p><span class="label">Edad:</span> <span class="value">26</span></p>
                    <p><span class="label">Cédula:</span> <span class="value">123456</span></p>
                    <p><span class="label">Celular:</span> <span class="value">+57 318 859 5046</span></p>
                    <p><span class="label">Especialidad:</span> <span class="value">Hola</span></p>
                </div>
            </div>
        </div>
    </main>

    
</body>
</html>
