<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/tabla_Mascotas.css" />
    <link rel="stylesheet" href="/css/common.css" />
    
    <title>Mascotas</title>
  </head>
  <body>
    <header>
      <div class="navigationBarLogo">
        <img src="/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
        <a href=""><h1>El Arca</h1></a>
      </div>
      <div class="navigationBarMenuOptions">
        <a href="/clientes/perfil"><h3>Perfil</h3></a>
        <a href="/clientes/all"><h3>Clientes</h3></a>
        <a href="/mascota/all"><h3>Mascotas</h3></a>
      </div>
      <div class="navigationBarButtons">
        <a href="/home/landingPage">
          <button class="btnYellow"><h3>Cerrar Sesión</h3></button>
        </a>
      </div>
    </header>


    <main>
      <section class="title-bar">
        <h1>Información Mascotas</h1>
        <div class="buttons-group">
          <a href="/mascota/add">
            <button class="btnAzul">Añadir Mascota</button>
          </a>
          <!-- Los botones para editar y eliminar clientes se pueden gestionar aquí -->
        </div>
      </section>
  
      <section class="client-table">
        
        <table >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Raza</th>
              <th>Edad</th>
              <th>Peso</th>
              <th>Enfermedad</th>
              <th>Foto</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="mascota: ${mascotas}">
              <td th:text="${mascota.nombre}"></td>
              <td th:text="${mascota.raza}"></td>
              <td th:text="${mascota.edad}"></td>
              <td th:text="${mascota.peso}"></td>
              <td th:text="${mascota.enfermedad}"></td>
              <td>
                <img th:src="${mascota.urlImagen}" alt="Imagen de Mascota" />
              </td>
              <td>
                <div class="editButtonContainer">
                  <a
                    type="button"
                    class="btn btn-warning"
                    th:href="@{/mascota/update/{id}(id=${mascota.id})}"
                    >Editar</a
                  >
                  <a
                    type="button"
                    class="btn btn-danger"
                    th:href="@{/mascota/delete/{id}(id=${mascota.id})}"
                  >
                    Eliminar
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
